:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 18px;

	color-scheme: light dark;
	color: hsl(0, 0%, 90%);
	background-color: hsl(0, 0%, 10%);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
html {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3.5vw;
	line-height: 1.1;
}

li {
	list-style-type: none;
}

.page-container {
	display: grid;
	grid-template-columns: 0.6fr 1.4fr;
	grid-template-rows: 0.2fr 1.8fr;
	gap: 1rem;
	grid-auto-flow: row;
	grid-template-areas:
		'header cv-display'
		'info-container cv-display';
	margin: 2vh 2vw;
	height: 96vh;
}

header {
	grid-area: header;
	width: fit-content;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
}

.builder-container {
	grid-area: info-container;
	background-color: hsla(225, 25%, 25%, 0.5);
	border-radius: 10px;
	padding: 1rem;
	overflow: scroll;
}

.cv-display {
	grid-area: cv-display;
	background-color: hsl(0, 0%, 90%);
	color: hsl(0, 0%, 0%);
	border-radius: 5px;
}

.cv-header {
	padding: 1rem;
	background-color: hsla(145, 100%, 50%, 0.25);
	margin-bottom: 1em;
}

form > div {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

input {
	height: 1.5em;
	border-radius: 5px;
	border: none;
	background-color: hsla(225, 25%, 25%, 0.5);
	padding: 0.25em 0.5em;
	font-size: 0.9em;
}

input:focus {
	background-color: hsla(225, 25%, 40%, 0.5);
	outline: none;
}

.builder-container h2 {
	font-size: 1.25rem;
	line-height: 1.5;
}

.info-header,
.education-header,
.work-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

svg {
	width: 20px !important;
	height: 20px !important;
	opacity: 25%;
	transition: 0.2s ease-in-out;
	flex-shrink: 0;
	vertical-align: middle;
}

svg:hover {
	opacity: 50%;
}
